chainlit==0.7.501
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.16
jupyterlab-widgets==3.0.9
llama-index==0.8.64.post1
llama_cpp_python==0.2.16
tokenizers==0.14.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm==4.66.1
transformers==4.35.0
arxiv==2.0.0 
feedparser==6.0.10
sgmllib3k==1.0.0
PyPDF2==3.0.1
